body {
 max-width: 100%;
 margin: 0;
 padding: 0;
}

.hero__main {
 background-color: white;
 height: 100vh;
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-flex-wrap: wrap;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
 background: black;
}

.hero__title {
 width: 100%;
 max-width: 550px;
 text-align: center;
 color: white;
 font-size: 125px;
 font-family: 'Qwigley', cursive;
 position: absolute;
 left: 50%;
 top: 50%;
 -webkit-transform:  translate(-50%,-50%);
 -ms-transform:  translate(-50%,-50%);
 transform:  translate(-50%,-50%);
 text-shadow: 0 0 1px black;
}

.hero__title-sub {
 font-size: 35px;
 text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.8);
}

.hero__div {
 margin: auto;
 -webkit-transition: background-image 1.2s ease;
 -o-transition: background-image 1.2s ease;
 transition: background-image 1.2s ease;
}

.hero__div1 {
 width: 30%;
 height: 47%;
}

.hero__div2 {
 width: 35%;
 height: 47%;
}

.hero__div3 {
 width: 35%;
 height: 47%;
}

.hero__div4 {
 width: 45%;
 height: 53%;
}

.hero__div5 {
 width: 25%;
 height: 53%;
}

.hero__div6 {
 width: 30%;
 height: 53%;
}

@media screen and (max-width: 650px) {
 .hero__div1, .hero__div2, .hero__title-sub {
  display: none;
 }

 .hero__div {
  width: 50%;
 }

 .hero__div3 {
   height: 53%
 }
}
